<<<<<<< HEAD
h1 {color:rgb(0, 0, 0); 
 text-align: center;


} 

.title {
  background-color: #343434;
  padding: 20px;
  margin: 15px 0;
  border: 2px solid #000000;
  border-radius: 8px;

overflow: hidden;
  
}

.title {
  background: rgb(206, 206, 206);
  border: 3px solid #eb4d22;
  padding: 10px;
  margin: 20px 0;
  border-radius: 15px;

  background: linear-gradient(to bottom, #ffffff, #ffffff5d);
}

.container {
  background-color: #343434;
  padding: 20px;
  margin: 15px 0;
  border: 2px solid #00000057;
  border-radius: 8px;
}

section{
  border: 4px solid transparent;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 0;

 background:
    linear-gradient(to bottom, #ffffff, #646f85) padding-box,
    linear-gradient(#eb4e22b8, #eb4e22b8) border-box;

    overflow: hidden;

}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 2;

  background: linear-gradient(to bottom, #1e3c72, #2a5298);
}

